.pagination {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  justify-content: center;
}

.pageBox {
  border: 1px solid black;
  padding: 5px;
  width: 40px;
  cursor: pointer;
  background: #87b0c5
}

.ellipsis {
  border: none;
  opacity: .5;
}

.button {
  background:var(--primary-background);
}

.active {
  background: var(--primary-background);
}