.pagination {
  display: flex;
  gap: 10px;
  margin: 20px 0;
  justify-content: center;
}

.pageBox {
  padding: 5px;
  width: 40px;
  cursor: pointer;
  background: #87b0c5;
}

.ellipsis {
  background-color: transparent;
}

.button {
  background: #87b0c5;
}

.active {
  background: var(--primary-background);
  color: #fff;
}
