.inputIcon {
  display: flex;
  align-items: center;
  padding: 10px;
  color: #fff;
  background: #025a86;
}

.inputIcon:hover {
  background: #014f78;
  cursor: pointer;
}

.inputContainer {
  display: flex;
  align-items: center;
}

.input {
  flex-grow: 1;
  color: #fff;
}

.input::placeholder {
  color: #ccc;
}
