.NavBar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--primary-background);
  color: white;
  height: 70px;
}

.NavBar_hamburger_menu {
  display: flex;
}

.NavBar_hamburger_menu button {
  padding: 8px;
  border-radius: 4px;
}

.NavBar_hamburger_menu button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.NavBar_title {
  margin-left: 10px;
  text-transform: uppercase;
  font-size: 20px;
}

.NavBar_leftIcons_wrapper {
  display: flex;
  gap: 15px;
  align-items: center;
}

.NavBar_leftIcons_wrapper button {
  padding: 8px;
  border-radius: 4px;
}

.NavBar_leftIcons_wrapper button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.NavBar_user_avatar {
  background-color: #3597c8;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.NavBar_rightIcons_wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.DropDown_container {
  position: absolute;
  background-color: #5ba4ca;
  width: 200px;
  left: -18px;
  top: 60px;
}
